._ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  font-size: 13px;
}

.wrapper {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: var(--background-color);
  border: 1px solid var(--main-elements-color);
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.label {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  line-height: 1rem;
  white-space: nowrap;
}

.input {
  width: 100%;
  min-height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  color: var(--font-color);
}

.input::placeholder {
  color: var(--dim-elements-color);
}

.incorrect .wrapper {
  border: 1px solid var(--warning-color);
}

.disabled .wrapper {
  background-color: var(--dim-elements-color);
}
