._ {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchbarWrapper {
  width: 20rem;
}

.leftBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.resetFilters {
  transition: 0.75s;
  opacity: 1;
}

.inactive {
  opacity: 0;
  visibility: hidden;
}
