.padding {
  padding-left: 0.5rem;
}
.checkbox {
  width: 2.15%;
  display: flex;
  justify-content: center;
}
.index {
  width: 7.25%;
}
.date {
  width: 11.85%;
}
.status {
  width: 11.85%;
}
.positions {
  width: 6.45%;
}
.sum {
  width: 8.6%;
}
.name {
  width: 51.85%;
}
.bodyRow {
  border-bottom: 1px solid var(--dim-elements-color);
}
.checked {
  background-color: var(--additional-filter-background);
}
