._ {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  gap: 1rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.dropdown {
  bottom: 1.75rem;
  right: 0;

  width: 8rem;
  height: 3.5rem;

  padding: 1rem;

  color: var(--font-color);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  width: 1.5rem;
}
