.trigger {
  position: relative;
}

.overlay {
  position: absolute;

  font-size: 13px;
  background-color: var(--background-color);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  list-style: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1);
}
