._ {
  padding: 0 1rem 0 1rem;
  max-width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.block {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.deletionApprover {
  left: 0;
  bottom: 1.75rem;

  width: 8rem;
  height: 5rem;

  gap: 0.5rem;

  padding: 1rem;
}

.statusSelector {
  right: 0;
  bottom: 1.75rem;

  width: 10rem;
  height: 13rem;
}
