.table__header {
  min-height: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-elements-color);
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  color: var(--additional-filter-background);
}

.checkboxBlock {
  min-width: 1.5rem;
  padding-left: 0.5rem;
}

.numberBlock {
  min-width: 6.25rem;
  padding-left: 0.5rem;
}

.dateBlock {
  min-width: 10.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.statusBlock {
  min-width: 10.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.positionBlock {
  min-width: 5.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sumBlock {
  min-width: 7.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nameBlock {
  min-width: 47.75rem;
  padding-left: 0.5rem;
}

.arrowIcon {
  fill: var(--background-color);
}
