.custom-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  font-size: 13px;
}

.custom-input__wrapper {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: var(--background-color);
  border: 1px solid var(--main-elements-color);
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.custom-input__label {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  line-height: 1rem;
}

.custom-input__input {
  width: 100%;
  min-height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
}

.custom-input__input::placeholder {
  color: var(--dim-elements-color);
}

.custom-input__button {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0.25rem;
  border-radius: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  display: none;
}

.custom-input__icon {
  stroke: var(--main-elements-color);
  fill: var(--main-elements-color);
}

.custom-input__icon_x {
  stroke: var(--dim-elements-color);
}

.custom-input__icon_locked {
  fill: var(--font-color);
}

.custom-input_incorrect .custom-input__wrapper {
  border: 1px solid var(--warning-color);
}

.custom-input_incorrect .custom-input__button_reset {
  display: inline;
}

.custom-input_disabled .custom-input__wrapper {
  background-color: var(--dim-elements-color);
}

.custom-input_disabled .custom-input__button_locked {
  display: inline;
}

.custom-input__input:disabled {
  color: var(--font-color);
}

.custom-input__button_search {
  display: inline;
}

.custom-input__button-icon {
  stroke: var(--main-elements-color);
}

.custom-input_filled .custom-input__button_reset {
  display: inline;
}

.custom-input__icon {
  width: 1rem;
  min-width: 1rem;
  margin-right: 0.25rem;
}
