._ {
  width: 100%;
  height: 2.5rem;
  background-color: var(--main-elements-color);
  color: var(--additional-filter-background);
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  gap: 0.25rem;
  color: var(--background-color);
  fill: var(--background-color);
}

.activeSorter {
  background-color: var(--active-sorter-color);
}
