._ {
  width: 100%;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--additional-filter-background);
}

.checked {
  background-color: var(--additional-filter-background);
}

.checkboxCell {
  min-width: 1.5rem;
  padding-left: 0.5rem;
}

.numberCell {
  min-width: 6.25rem;
  padding-left: 0.5rem;
}

.dateCell {
  min-width: 10.5rem;
  padding-left: 0.5rem;
}

.statusCell {
  min-width: 10.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.canceledStatus {
  fill-opacity: 0.5;
}

.doneStatus {
  color: #0fb864;
  fill-opacity: 0.5;
}

.positionCell {
  min-width: 5.5rem;
  padding-left: 0.5rem;
}

.sumCell {
  min-width: 7.5rem;
  padding-left: 0.5rem;
}

.nameCell {
  min-width: 47.75rem;
  padding-left: 0.5rem;
}
